.FeedDetail {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.6rem;
  width: 100%;
  height: 100%;
  --side-row-width: 17rem;
}

.FeedDetail-main-card .ant-card-body {
  padding-top: 2px;
}

.FeedDetail-main-card {
  height: fit-content;
}

.FeedDetail-main {
  display: grid;
  gap: 1.5em;
}

.FeedDetail-main-three-columns {
  grid-template-columns:
    var(--side-row-width) minmax(var(--side-row-width), 1fr)
    var(--side-row-width);
}

.FeedDetail-main-two-columns {
  grid-template-columns: var(--side-row-width) 1fr;
}

.FeedDetail-sidebar {
  display: flex;
  row-gap: 1.5em;
  flex-direction: column;
}

.FeedDetail-body {
  display: inherit;
  gap: 2em;
}

.FeedDetail-body .ant-typography {
  line-height: 2em;
}
.FeedDetail-header h2 {
  margin-bottom: 0em !important;
}
.FeedDetail-header a {
  font-size: 1.175em;
  color: black;
}

.FeedDetail-related {
  overflow: hidden;
  height: fit-content;
}

@media (max-width: 1200px) {
  .FeedDetail-main {
    grid-template-columns: 17rem 1fr;
    grid-template-areas:
      "sidebar tabs"
      "sidebar related";
  }
  .FeedDetail-sidebar {
    grid-area: sidebar;
  }

  .FeedDetail-body {
    grid: tabs;
  }
  .FeedDetail-related {
    grid-area: related;
  }
  .FeedDetail-related ul.ant-list-items {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1.5rem;
  }
  .FeedDetail-related .FeedSmallList-item {
    min-width: 14rem;
  }
}
