.FeedForm{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.FeedForm-input{
    max-width: 70vw;
}
.FeedForm-content{
    width: 100%;
    max-width: 850px;
}

.FeedForm-form{
    min-width: 350px;
    width: 100%;
    display: flex;
    gap: 2em;
}

@media(min-width: 640px) {
    .FeedForm-form{
        min-width: 640px;
    }
}