.Categories {
  width: 100%;
}

.Categories .ant-card-body {
  display: flex;
  flex-direction: column;
  row-gap: 1.15rem;
  padding: 1rem 2.5rem 1rem 2.5rem !important;
}
.Categories-list li {
  cursor: pointer;
  border: none !important;
  padding-bottom: 0 !important;
}

.Categories-list li.ant-list-item {
  padding: 0 !important;
}

.Categories-list .ant-tag {
  line-height: unset;
}

.Categories-list .ant-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.Categories-list span.ant-tag {
  font-size: 1.2em;
  padding: 0.3em;
}
