.NewFeed {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.NewFeed > div {
	width: 100%;
}

.NewFeed span.ant-steps-icon-dot {
	margin-top: 1.5px;
}

.NewFeed .ant-result-extra {
	display: flex;
	justify-content: center;
	gap: 0.7rem;
}
