.Episode .ant-card {
	max-width: 760px;
	width: 70rem;
}
.Episode .ant-card-body {
	padding: 1.5rem;
}

.Episode {
	display: flex;
	justify-content: center;
}

.Episode-title {
	margin-top: 0.4rem;
}

.Episode header {
	display: flex;
	gap: 1.25rem;
	justify-content: flex-start;
	align-items: center;
}
.Episode-show-notes {
	margin-top: 1.5rem;
}

.Episode h5.ant-typography {
	margin-top: 0.25em !important;
}
