.App-pages {
	display: flex;
	width: 100vw;
	max-width: 100%;
	background: #c1d5cdb4 !important;
	justify-content: center;
	/* background: #f0f2f5; */
	/* background: #b0bec5; */
	/* background: #4b636e; */
	/* background: #4b636e; */
	/* background: #bbdefb9a; */
	/* background: rgb(138,172,200);
    background: linear-gradient(180deg, rgba(138,172,200,1) 14%, rgba(187,222,251,1) 95%); */
	/* background: rgb(138,172,200);
    background: radial-gradient(circle, rgba(138,172,200,1) 2%, rgba(187,222,251,1) 95%); */
	padding: 2em;
	box-sizing: inherit;
}
/* TODO  */
.App-pages > div {
	width: 80rem;
	max-width: 100%;
	margin-bottom: 4rem;
}

@media (max-width: 700px) {
	.App-pages {
		padding: 1em;
	}
	.App-pages > div {
		width: 100%;
	}
}

/* .App-link {
  color: #61dafb;
} */
