.Home {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	animation-duration: 1.1s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-name: slideUp;
}

@keyframes slideUp {
	0% {
		transform: translateY(400px);
	}
	100% {
		transform: translateY(0);
	}
}

.Home header {
	display: block;
	text-align: center;
}

.Home header h2 {
	font-size: 2em;
}
.Home header .ant-typography {
	margin: 1rem 0;
}
.Home h1.ant-typography {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

.Home-meta .ant-card-body {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

.Home-meta .ant-card-body::after,
.Home-meta .ant-card-body::before {
	content: unset;
	display: inherit;
}

.swagger-ui {
	background: #fff;
	border-radius: 0.25em;
}

.swagger-ui .info {
	margin: 1.25rem 0 !important;
}

@media (max-width: 600px) {
	.Home-meta .ant-card-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
