.Home {
	display: flex;
	gap: 2rem;
	flex-direction: column;
}
.Home header {
	text-align: center;
	display: block;
}

.Home header h2 {
	font-size: 2em;
}
.Home header .ant-typography {
	margin: 0.25em 0 !important;
}
.Home h1.ant-typography {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

.Home-meta .ant-card-body {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

.Home-meta .ant-card-body::after,
.Home-meta .ant-card-body::before {
	content: unset;
	display: inherit;
}

.swagger-ui {
	background: #fff;
	border-radius: 0.25em;
}

.swagger-ui .info {
	/* pa */
	margin: 1.25rem 0 !important;
}

@media (max-width: 600px) {
	.Home-meta .ant-card-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
