/* .Header-links {
	display: flex !important;
	align-items: center;
	font-size: 1.25em;
	justify-content: center; */
/* } */
header {
	display: flex;
	justify-content: center;
	letter-spacing: 0.1em;
}
#Header-title .ant-typography {
	letter-spacing: 0.15em;
	font-weight: 900;
}
#Header-title a {
	display: flex;
	gap: 0.75rem;
}

.Header-dropdown-more {
	display: none;
}

.Header-inner {
	display: flex;
	width: 100%;
	max-width: 80rem;
	justify-content: space-between;
	flex-wrap: nowrap;
	background: cfd8dc;
	column-gap: 1em;
	padding: 1rem 0;
	/* background: #C6DDF0 !important; */
	/* background: #D8DBE2!important; */
	/* background: #fff !important; */
}

header h1.ant-typography {
	margin: 0;
}

#Header-menu div.ant-image-preview-content > div > ul > li {
	display: none !important;
}

#Header-search .ant-select-auto-complete {
	width: 26rem;
	max-width: 34rem;
}
.Header-btns-group {
	display: flex;
	gap: 1em;
}

.Header-dropdown-more {
	display: none;
}

#Header-title {
	display: flex;
	align-content: center;
}

#Header-title *:hover {
	text-decoration: unset;
}

@media (max-width: 1200px) {
	.Header-inner {
		padding: 1rem;
	}
}

@media (max-width: 950px) {
	.Header-inner {
		display: grid;
		grid-template-columns: 1fr 1fr max-content;
		grid-template-areas:
			"title  btns menu"
			"search search search";
		row-gap: 1em;
	}
	#Header-title {
		grid-area: title;
	}
	.Header-inner .ant-select-auto-complete {
		max-width: 100%;
	}
	#Header-menu {
		grid-area: menu;
	}
	#Header-search {
		grid-area: search;
		width: 100%;
		align-self: center;
	}
	#Header-search
		.ant-select.ant-select-auto-complete.ant-select-single.ant-select-customize-input.ant-select-show-search {
		width: 100%;
	}

	#Header-btns {
		grid-area: btns;
		justify-self: end;
	}
}

@media (max-width: 580px) {
	.Header-btns-group {
		display: none;
	}
	.Header-dropdown-more {
		display: block;
	}
}
