.FeedResultCard{
    max-width: 820px;
}

.ant-card.ant-card-bordered.FeedResultCard {
    width: 100%;
}

.FeedResultCard-content {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1.5em;
}

.FeedResultCard-author{
    font-size: 0.9em;
}
.FeedResultCard-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}