// @import 'antd/dist/antd.css';
@import '~antd/dist/antd.less';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-card.ant-card-bordered {

    // background: #f0f2f5 !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
}
.ant-page-header-heading-left{
    width: 80%;
}  

.ant-result-subtitle{
    color: #000;
}

.ant-page-header-heading-title{
    margin-right: 2em !important;
}
.ant-layout-footer{
    padding: 0;
}
.ant-list-bordered{
    background: #fff;
}
// .ant-card-head {
//     border-bottom: 1px solid #bebebed2;
// }

/* @media (max-width: 600px) {
    .ant-page-header-heading-left{
        width: 80%;
    }
} */
.ant-page-header-heading-tags{
    width: 75%;
}


.ant-layout{
    min-height: 100vh;
}

// .ant-page-header {
//     position: sticky;
//     left: 0;    
//     top: 0;
//     z-index: 50;
// }

// .ant-page-header.Header-background.ant-page-header-ghost {
//     box-shadow: -1px 1px 2px #00000080;
// }

span.ant-page-header-heading-title > a {
    color: #424242;
    letter-spacing: 0.2em;
}

.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after {
    border-top: 1.5px solid black !important;
}

div.ant-image-preview-content > div > ul > li:nth-child(4), li:nth-child(5){
    display: none !important;
}

.ant-divider-inner-text {
    font-weight: bold;
}