.SearchField-option .SearchField-option small {
	color: gray;
}
.SearchField-option small {
	color: gray;
}
.SearchField-option div.ant-typography {
	margin: 0 !important;
}

.completion-search-dropdown .rc-virtual-list-holder {
	max-height: 470px !important;
}
