.SearchField-option .SearchField-option small {
	color: gray;
}
.SearchField-option small {
	color: gray;
}
.SearchField-option div.ant-typography {
	margin: 0 !important;
}
.SearchField span.ant-input-suffix {
	color: #bebebe;
	/* margin-left: 1em;⠀⠀ */
}
.completion-search-dropdown .rc-virtual-list-holder {
	max-height: 470px !important;
}
